
#headerConfig{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    margin-top: 8px;
    margin-bottom: 15px;
    height: 130px;

}

#headerConfig a{
    text-decoration: none;
    color: #267365;
}

#menuNavbar{
    margin-bottom: 15px;
}
