* {
    /** Reseta os estilos **/
    margin: 0;
    padding: 0;
  }

.backgroundColor1{
    background-color: #F29F05;
}

.backgroundColor2{
    background-color: #F2CB05;
}

body{
    margin: 5px 0 5px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F29F05;
}  

#footerConfig{
    margin-top: 15px;
    opacity: 0.8;
    color: azure;
    font-size: 0.8em;
    text-align: center;
}

#conteudo{
    display: flex;
    justify-content: center;
}

#conteudoColunas{
    background-color: white;
    border-radius: 5px;
}